[submodule "apps/admin"]
	path = apps/admin
	url = https://github.com/lomiafrica/admin.git
[submodule "apps/dashboard"]
	path = apps/dashboard
	url = https://github.com/lomiafrica/dashboard.git
[submodule "apps/sdks/php"]
	path = apps/sdks/php
	url = https://github.com/lomiafrica/lomi-php-sdk.git
	branch = main
[submodule "apps/sdks/python"]
	path = apps/sdks/python
	url = https://github.com/lomiafrica/lomi-python-sdk.git
	branch = main
[submodule "apps/storefront"]
	path = apps/storefront
	url = https://github.com/lomiafrica/storefront.git
[submodule "apps/checkout"]
	path = apps/checkout
	url = https://github.com/lomiafrica/checkout.git
[submodule "apps/website"]
	path = apps/website
	url = https://github.com/lomiafrica/website.git
[submodule "apps/jumbo"]
	path = apps/jumbo
	url = https://github.com/lomiafrica/jumbo.git
	branch = main
[submodule "apps/customers"]
	path = apps/customers
	url = https://github.com/lomiafrica/customers.git
[submodule "apps/design"]
	path = apps/design
	url = https://github.com/lomiafrica/design.git
[submodule "apps/tools/doctool"]
	path = apps/tools/doctool
	url = https://github.com/lomiafrica/doctool.git
	branch = main
[submodule "apps/sdks/pi-spi-sdk"]
	path = apps/sdks/pi-spi-sdk
	url = https://github.com/lomiafrica/pi-spi-sdk.git
	branch = main
[submodule "apps/plugins/woo"]
	path = apps/plugins/woo
	url = https://github.com/lomiafrica/woo.git
	branch = main
[submodule "apps/plugins/prestashop"]
	path = apps/plugins/prestashop
	url = https://github.com/lomiafrica/prestashop.git
	branch = main
[submodule "apps/plugins/magento"]
	path = apps/plugins/magento
	url = https://github.com/lomiafrica/magento.git
	branch = main
[submodule "apps/plugins/shopify"]
	path = apps/plugins/shopify
	url = https://github.com/lomiafrica/shopify.git
	branch = main
[submodule "apps/plugins/bubble"]
	path = apps/plugins/bubble
	url = https://github.com/lomiafrica/bubble.git
	branch = main
[submodule "apps/tools/gsc-mcp"]
	path = apps/tools/gsc-mcp
	url = https://github.com/lomiafrica/gsc-mcp.git
	branch = main
[submodule "apps/tools/stellar"]
	path = apps/tools/stellar
	url = https://github.com/lomiafrica/stellar.git
	branch = main
[submodule "apps/tools/geolook"]
	path = apps/tools/geolook
	url = https://github.com/lomiafrica/geolook.git
	branch = main
[submodule "apps/tools/payterm"]
	path = apps/tools/payterm
	url = https://github.com/lomiafrica/payterm.git
	branch = main
[submodule "apps/api"]
	path = apps/api
	url = https://github.com/lomiafrica/api.git
	branch = main
[submodule "apps/tools/anti-slop"]
	path = apps/tools/anti-slop
	url = https://github.com/lomiafrica/anti-slop.git
	branch = main
[submodule "apps/tools/agent-plugin"]
	path = apps/tools/agent-plugin
	url = https://github.com/lomiafrica/agent-plugin.git
	branch = main
