# Dependencies
/node_modules

# Build
/dist
/coverage
/.next/
/build
*.tsbuildinfo
.vercel

# Generated
.source
/content/docs/openapi/generated/

# OS
.DS_Store

# Environment
.env
next-env.d.ts
.env*
